html, body
{
    margin: 0 auto;
    padding: 0 auto;
    background-color: black;
}

h2
{
    text-align: center;
    font-size: 3em;
    color: white;
    margin-top: 25vh;

    text-shadow: 2px 2px 0.75px red, 2.5px 2.5px 0.1px white;
}


form
{
    margin-left: 45vw;
}

input
{
    border-radius: 10px;
}

textarea
{
    box-shadow: 3px 3px 1.5px  red;
}