html, body
{
    margin: 0 auto;
    padding: 0 auto;
    background-color: black !important;
    height: 100vh;
}

#contact h2
{
    text-align: center;
    font-size: 3em;
    color: white;

    margin-bottom: 5vh;

    text-shadow: 2px 2px 0.75px red, 2.5px 2.5px 0.1px white;
}

#contact
{
    margin-top: 25vh;
}

form
{
    margin-left: 45vw;
}

input
{
    border-radius: 10px;
}

textarea
{
    box-shadow: 3px 3px 1.5px  red;
}

.messagePHP
{
    text-align: center;
    margin-left: 45vw;
    color: white;
}

footer
{
    display: flex !important;

    width: 100vw;

    position: absolute;
    bottom: 0%;

    justify-content: space-around;
    align-items: flex-start;
    color: white;

    background-color: rgba(223, 56, 56, 0.247);
}

footer h3
{
    color: white;
    margin-bottom: 2vh;
    text-shadow: 2px 2px 0.75px black, 2.5px 2.5px white;
}

footer p 
{
    line-height: 2vh;
}

footer #navigation a, footer #navigation li
{
    list-style: none;
    color: white;
    text-decoration: none;
}

footer #navigation a:hover
{
 background-color: red;
 border-radius: 5px;
}
